{% extends 'AutoMate/base.html' %}
{% load static %}
<script src="{% static 'js/form_control.js' %}"></script>
{% block content %}
<div class="double-block">
    <div class="block" id="left-block">
        <div>
            <h2>Edit Profile</h2>
            <form id="profile-form" method="post">
                {% csrf_token %}
                {{ user_form.non_field_errors }}
                <div>
                    {{ user_form.first_name.label_tag }}
                    {{ user_form.first_name }}
                    {{ user_form.first_name.errors }}
                </div>
                
                <div>
                    {{ user_form.last_name.label_tag }}
                    {{ user_form.last_name }}
                    {{ user_form.last_name.errors }}
                </div>
                <div>
                    {{ user_form.email.label_tag }}
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                </div>
                
                {{ profile_form.non_field_errors }}
                <div>
                    {{ profile_form.phone_number.label_tag }}
                    {{ profile_form.phone_number }}
                    {{ profile_form.phone_number.errors }}
                </div>
                
                
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
    <div class="block" id="right-block">
        <div id="my-stats">
            <h1>My Stats</h1>
            <ul id="stats-list">
                <li>Date joined {{ user.date_joined }}</li>
                <li>Vehicles: {{ user.vehicles.count }}</li>
                <li>Bookings: {{ user.bookings.count }}</li>
            </ul>
            
        </div>

    </div>

</div>

{% endblock %}

{% block form_control_js %}
<script src="{% static 'js/form_control.js' %}"></script>
{% endblock %}