{% extends "AutoMate/base.html" %}

{% block content %}
    <div class="double-block">
        <div class="block">
            <h1>Left Block</h1>

        </div>
        <div class="block">
            <h1>My Vehicles</h1>
            {% for vehicle in vehicles %}
                <div class="vehicle-list-item">
                    <div class="vrn">{{ vehicle.vrn}}</div>
                    <h2>{{ vehicle.make }} {{ vehicle.model }}</h2>
                </div>
                
            {% endfor %}
            
        </div>
    </div>

    
{% endblock %}
