{% extends "AutoMate/base.html" %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'js/vehicles.js' %}"></script>




{% block content %}
    <div class="double-block">
        <!-- LEFT BLOCK -->
        <div class="block" id="left-block">
            <h1>My Vehicles</h1>
            <p>Welcome to your saved vehicles - Here you can manage your vehicles by adding, updating, and deleting them as you see fit.</p>
            <div id="left-block-inner">
                <!-- Either a saved vehicle or a form to save a new vehicle will populate here -->
            </div>
        </div>
        <!-- END OF LEFT BLOCK -->
        <!-- RIGHT BLOCK -->
        <div class="block">
            <h1>My Saved Vehicles</h1>
            <div id="vehicle-list">
                {% include "AutoMate/vehicle_list.html" %}
            </div>
        </div>
        <!-- END OF RIGHT BLOCK -->
    </div>

    
{% endblock %}


{% block extras %}
    <script src="{% static 'js/vehicles.js' %}"></script>
{% endblock %}