{% extends "AutoMate/base.html" %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'js/vehicles.js' %}"></script>




{% block content %}
    <div class="double-block">
        <!-- LEFT BLOCK -->
        <div class="block" id="left-block">
                Click on a registration number on the right, or create save a new vehicle
            
        </div>
        <!-- END OF LEFT BLOCK -->
        <!-- RIGHT BLOCK -->
        <div class="block">
            <h1>My Vehicles</h1>
            {% for vehicle in vehicles %}
                <div class="vehicle-list-item"
                    data-vrn="{{ vehicle.vrn }}"
                    data-make="{{ vehicle.make }}"
                    data-model="{{ vehicle.model }}"
                    data-engine_capacity="{{ vehicle.engine_capacity }}"
                    data-fuel_type="{{ vehicle.fuel_type }}"
                    data-year="{{ vehicle.year_of_manufacture }}"
                    data-colour="{{ vehicle.colour }}"
                    >
                    {% if vehicle.fuel_type == "electric" %}
                        <div class="vrn electric">{{ vehicle.vrn }}</div>
                    {% else %}
                        <div class="vrn">{{ vehicle.vrn }}</div>
                    {% endif %}
                    <h2>{{ vehicle.make }} {{ vehicle.model }}</h2>
                </div>
            {% endfor %}
            <div id="add-new-vehicle" class="vehicle-list-item-last"> <h2>Add new vehicle...</h2></div>
            
        </div>
        <!-- END OF RIGHT BLOCK -->
    </div>

    
{% endblock %}


{% block extras %}
    <script src="{% static 'js/vehicles.js' %}"></script>
{% endblock %}