{% if vehicles %}
<p>Click on a saved vehicle to see details</p>
{% endif %}
{% for vehicle in vehicles %}
  <div class="vehicle-list-item"
      data-vrn="{{ vehicle.vrn }}"
      data-make="{{ vehicle.make }}"
      data-model="{{ vehicle.model }}"
      data-engine_capacity="{{ vehicle.engine_capacity }}"
      data-fuel_type="{{ vehicle.fuel_type }}"
      data-year="{{ vehicle.year_of_manufacture }}"
      data-colour="{{ vehicle.colour }}"
      >
      <div class="d-flex justify-content-between align-items-center w-100 gap-3 p-3 w-100">
        {% if vehicle.fuel_type == "ELECTRICITY" %}
            <div class="vrn electric-list">{{ vehicle.vrn }}</div>
        {% else %}
            <div class="vrn">{{ vehicle.vrn }}</div>
        {% endif %}
        <h2>{{ vehicle.make }} {{ vehicle.model }}</h2>
      </div>
  </div>
{% endfor %}

<button id="add-new-vehicle" class="btn btn-primary w-100 d-flex justify-content-center align-items-center gap-2">
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-car"></i>
        <span class="text-white">Add new vehicle</span>
</button>
