/* colours 
E0FBFC - Light Cyan - Highlight
C2DFE3 - Light Blue - Positive Button
9DB4C0 - Cadet Gray - Negative Button
5c6B73 - Payne's Gray - Lowlight
011502 - NIght - Background
*/
@font-face {
    font-family: 'Mandatory';
    src: url('/fonts/Mandatory.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    color: #E0FBFC;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #011502;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0;
    background-image: url("../images/pexels-maltelu-2244746.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5C6B73;
    border: 2px solid #9DB4C0;
    align-items: center;
}

nav {
    max-height: fit-content;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 12px;

}

nav ul li {
    list-style-type: none;
    padding: 12px;
}

#title-spanner {
    font-size: 75px;
}

#title-container a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#title-container a h1 {
    margin: 0 0 0 -30px;
    padding: 0;
}

.block {
    margin: 32px;
    padding: 0 24px 24px 24px;
    border: 2px solid #9DB4C0;
    background-color: #5c6b73bb;
    height: 80vh;
    flex: 1; 

}

.double-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vehicle-list-item, .vehicle-list-item-last {
    width: 100%;
    border: 2px solid #9DB4C0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vrn {
    background-color: #ffd800;
    aspect-ratio: 520 / 111;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 2px 12px !important;
    letter-spacing: 1px;
    font-size: 32px;
    font-family: 'Mandatory', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    /* for use in form-input */
    text-align: center !important;
    text-transform: uppercase;
    
}

.vrn-med {
    max-height: 40px !important;
}

.electric {
    border-left: 15px solid green;
    padding-left: 0;
}

form {
    border: 3px solid red;
}

form input {
    color: black;
}

form button, button {
    color: black;
}

#error {
    color: red;
}

#left-block-inner {
    border: 1px solid red;
    padding: 12px;
    
}

#left-block-inner * {
}

.test-class {
    border: 3px solid red;
}

input {
    color: black;
}

.toast {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1055;
}

.toast * {
    color: black;
}