{% load static %}
{% if bookings %}
<p>Click on a saved booking to see details</p>
{% endif %}

{% for booking in bookings %}
    <div
    class="booking-list-item"
    data-date_time="{{ booking.date_time|date:'Y-m-d\\TH:i' }}"
    data-approved="{{ booking.approved }}"
    data-booking_type="{{ booking.booking_type }}"
    data-customer_notes="{{ booking.customer_notes }}"
    data-mechanics_notes="{{ booking.mechanics_notes }}"
    data-vehicle_mileage_at_service="{{ booking.vehicle_mileage_at_service }}"
    data-completed_service="{{ booking.completed_service }}"
    data-vehicle="{{ booking.vehicle.vrn }}"
    data-vehicle-id="{{ booking.vehicle.id }}"
    data-booking-id="{{ booking.id }}"
>
    <div class="d-flex justify-content-between align-items-center gap-3 p-3 w-100">
        <div>
            {% if booking.booking_type == "Other" %}
                <p class="m-0">General</p>
            {% else %}
                <p class="m-0">{{ booking.booking_type }}</p>
            {% endif %}
            {% if booking.booking_type == "MOT" %}
                <img src="{% static 'images/mot_logo.png' %}" alt="UK MOT logo" class="booking-type-logo">
            {% elif booking.booking_type == "Service" %}
                <i class="fa-solid fa-clipboard-check fa-2x"></i>
            {% elif booking.booking_type == "Repair" %}
                <i class="fa-solid fa-screwdriver-wrench fa-2x"></i>
            {% else %}
                <i class="fa-solid fa-wrench fa-2x"></i>
            {% endif %}
        </div>
        <p class="m-0">{{ booking.date_time }}</p>
        <div class="vrn vrn-list m-0">{{ booking.vehicle.vrn }}</div>
    </div>
</div>
{% endfor %}
<button id="add-new-booking" class="btn btn-primary w-100 d-flex justify-content-center align-items-center gap-2">
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-calendar-days"></i>
        <span class="text-white">Add new booking</span>
</button>