{% extends "AutoMate/base.html" %}
{% load static %}
<script src="{% static 'js/form_control.js' %}"></script>
{% block content %}
    <div class="double-block">
        <div id="left-block" class="block">
            <h2>Sign Up</h2>
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create account</button>
            </form>
        </div>
        <!-- <div id="right-block" class="block">
            SSO LOGIN HERE
        </div> -->
    </div>
{% endblock %}

{% block form_control_js %}
<script src="{% static 'js/form_control.js' %}"></script>
{% endblock %}